.svg {
    width: 350px;
  } 

  .c {
    position: static;
    max-width: 500px;
    max-height: 500px;
    width: 100px;
    height: 300px;
    cursor: pointer;
    will-change: transform, opacity;
  }
  
  .front1,
  .back1 {
    background-size: cover;
  }
  
  .back1 {
    background-image: url(./images/IMB_QCls8U.gif)
  }
  
  .front1 {
    background-image: url(./images/home-party-page.jpg);
  }
  
  .container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }